

@keyframes animateSvg{
    to{
        transform: translate(-50%,-10%);
    }
}
@keyframes upanddown{
    to{
        transform: translateY(-6px);
    }
}

@keyframes upupdowndown{
    to{
        transform: translateY(-10px);
    }
}

@keyframes arrowupanddown{
    to{
        transform: translateY(-7px);
    }
}